<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>btv.ttf</string>
		<string>faktum_bold_italic.ttf</string>
		<string>faktum_bold.ttf</string>
		<string>faktum_extra_bold_italic.ttf</string>
		<string>faktum_extra_bold.ttf</string>
		<string>faktum_extra_light_italic.ttf</string>
		<string>faktum_extra_light.ttf</string>
		<string>faktum_light.ttf</string>
		<string>faktum_light_italic.ttf</string>
		<string>faktum_medium_italic.ttf</string>
		<string>faktum_medium.ttf</string>
		<string>faktum_regular_italic.ttf</string>
		<string>faktum_regular.ttf</string>
		<string>faktum_semi_bold_italic.ttf</string>
		<string>faktum_semi_bold.ttf</string>
		<string>faktum_thin_italic.ttf</string>
		<string>faktum_thin.ttf</string>
	</array>
</dict>
</plist>
